##### The Penetration Test Report :



 The location of the test : 

 If the test was remote or local. 

 Details of the members of the ethical hacking team. 

 Advanced description of the security settings of the information systems and the vulnerabilities discovered.



###### Engagement Procedure:

This section will contain the engagements of the ethical hacking team along with the limits encountered and the various other processes.



###### Target Architecture :

This section is optional and includes information about the target’s infrastructure, such as their hardware, operating systems used, services offered by the systems, open ports, etc.



###### Findings :

All the vulnerabilities discovered during the penetration test are listed down in this section.



###### Recommended Actions :

This section defines the corrective actions to be taken for each vulnerability that has been discovered.



###### Conclusion :

This section will summarize the vulnerabilities and the corrective actions proposed in a few lines. 



###### Appendices :

This section will cover all the information that supports the report and is information that cannot be part of the main body.



###### Presentation :

Most management would want a briefing of the outcomes of the penetration activity to be presented in a formal or semi-formal manner.



###### Storage of Report and Evidence :

Certain organizations will want the ethical hacking team to maintain a copy of the report of the penetration testing activity. 

